{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
<h2>Squads</h2>

<a href="/squad1H/" class="hart-link">Squad 1H</a>
<a href="/squad1G/" class="hart-link">Squad 1G</a>
</main>

{% render 'partials/foot.liquid', squads: squads %}