{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
<h2>Squads</h2>

<div class="container">
<a href="/squad1H/" class="hart-link">Squad 1H<img src="hartje.webp"></a>
   
<a href="/squad1G/" class="hart-link">Squad 1G<img src="hartje.webp"></a>
</div>

</main>