{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
<h2>Squads</h2>

<nav class="hart-container">
    <a href="/squad1H/" class="hart-link">Squad 1H
        <img src="hartje.webp" alt="Link squad 1H">
    </a>  
    <a href="/squad1G/" class="hart-link">Squad 1G
        <img src="hartje.webp" alt="Link squad 1G">
    </a>
</nav>

</main>