{% render 'partials/head.liquid', title: 'Squad page' %}

      <h2>Squads</h2>

<a href="/squad1H/:squad_id" class="hart-link">Squad 1H</a>
<a href="/squad1G/:squad_id" class="hart-link">Squad 1G</a>



{% render 'partials/foot.liquid', squads: squads %}